footer {
    background-color: black;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity:80%;
    position: fixed;
    height: 51px; 
    margin-top: auto;
        img {
            height: 30px;
        }
}