.body-index {
    background-color: black;
    background-image: url(../img/messi-balon-de-oro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 20%;
}



.titulo-inicio {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2rem; 
    -webkit-animation: scale-up-center 0.4s ease-in both;
	        animation: scale-up-center 0.4s ease-in both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

.p-inicio {
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-color: black;
    color: white;
    opacity: 75%;
    width: 100%;
    font-weight: 700;
    font-size: 2vw;
    padding: 2rem;
    margin-top: 8rem;
}

