@media (max-width: 480px)
    {
        .grid-container{
            display: block;
        }
        .tarjeta-barca {
            width: 20rem; height: 10rem;
            margin: 1rem;
        }
        .tarjeta-psg {
            width: 20rem; height: 10rem;
            margin: 1rem;
        }
        .tarjeta-argentina {
            width: 20rem; height: 10rem;
            margin: 1rem;
        }
        .tarjeta-individual {
            width: 20rem; height: 10rem;
            margin: 1rem;
            margin-bottom: 4rem;
        }
    }

@media (max-width: 480px)
    {
        .navbar {
            width: 100%;
        }
        .menu-tabla {
            display: block;
            width: 100%;
            padding: 1rem;
            margin-bottom: 3.14rem;
            overflow: scroll;
        }
        .menu {
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

@media (max-width: 480px) {
        .body-index {
            background-color: black;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            .p-inicio {
                height: 15rem;
            }
            .texto-inicio {
                text-align: center;
                font-size: 1rem;
            }
        }
    }

@media (max-width: 480px) {
        .carrera-messi {
            display: flex;
            flex-direction: column;
    }
    }

@media (max-width: 480px) {
    .contenido-mundial {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        padding: 2rem;
    }
    .cuartos img {
        width: 100%;
        height: 250px;
        background-position: center center;
        background-size: cover;
    }
}