.body-palmares {
    background-image: url(../img/messi-vs-psg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "barca        psg"
    "argentina individual";
    row-gap: 10px;
}

.tarjeta-barca {
    grid-area: barca;
    width: 80%; height: 57%;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both;
}

.tarjeta-psg {
    grid-area: psg;
    width: 80%; height: 73%;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both;
}

.tarjeta-argentina {
    grid-area: argentina;
    width: 80%; height: 45%;
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both;
}

.tarjeta-individual {
    grid-area: individual;
    width: 80%;
}

.link-mundial {
    text-decoration: none;
}

.card {
    margin: 5rem;
}