.body-trayectoria {
    background-color: black;
    background-image: url(../img/messi-campnou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar{
    width: 100%;
}

.carrera-messi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10rem;
    margin-top: 12rem;
}

.barcelona {
    h2 {
        color: #ff0000;
        font-size: 25px;
        background-color: black;
        opacity: 70%;
        text-align: center;
        margin-top: 1rem;
    }
    img {
        height: 20rem;
    }
}

.psg {
    h2 {
        color: red;
        font-size: 25px;
        background-color: black;
        opacity: 70%;
        text-align: center;
        margin-top: 1rem;
    }
    img {
        height: 20rem;
        text-align: center;
    }
}

.argentina {
    h2 {
        color: red;
        font-size: 25px;
        background-color: black;
        opacity: 70%;
        text-align: center;
        margin-top: 1rem;
    }
    img {
        height: 20rem;
    }
}