@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.menu {
  background-image: url(../img/messi-festejo.jpg);
  background-size: cover;
}

.scale-up-ver-center {
  animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-ver-center {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}
.title-stats {
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.tabla-estadisticas {
  text-align: center;
  width: 100%;
  height: 43.3rem;
}

.menu-tabla {
  color: white;
  width: 100%;
  text-align: center;
  background-color: black;
  opacity: 80%;
  font-size: larger;
  font-weight: 900;
}

.fila-afa, .fila-total, .fila-barcelona, .fila-psg {
  background-color: black;
  font-weight: 900;
  opacity: 80%;
  font-size: larger;
  color: lightskyblue;
}

.fila-psg {
  color: #0c75d1;
}

.fila-barcelona {
  color: #A6034F;
}

.fila-total {
  color: white;
}

footer {
  background-color: black;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  opacity: 80%;
  position: fixed;
  height: 51px;
  margin-top: auto;
}
footer img {
  height: 30px;
  animation: rotate-vert-center 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes rotate-vert-center {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.menu-header {
  width: 100%;
  clear: both;
}

.navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  align-items: center;
  position: sticky;
}

.nav-link {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}
a:hover {
  color: #A69256;
}

.body-index {
  background-color: black;
  background-image: url(../img/messi-balon-de-oro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 20%;
}

.titulo-inicio {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  animation: scale-up-center 0.4s ease-in both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.p-inicio {
  display: flex;
  justify-content: center;
  background-size: 100%;
  background-color: black;
  color: white;
  opacity: 75%;
  width: 100%;
  font-weight: 700;
  font-size: 2vw;
  padding: 2rem;
  margin-top: 8rem;
}

.body-mundial {
  background-image: url(../img/messi-worldcup.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.contenido-mundial {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  width: 100%;
}

section div p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.contenido-mundial {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 0px;
  column-gap: 0px;
  margin-top: auto;
  margin-bottom: 5rem;
  margin-right: 2rem;
  grid-template-areas: "arabia mexico octavos" "cuartos semifinal final";
}

.arabia {
  grid-area: arabia;
  height: 45%;
  margin-top: 5rem;
}

.mexico {
  grid-area: mexico;
  height: 30%;
}

.octavos {
  grid-area: octavos;
  margin-top: 5rem;
  height: 30%;
}

.cuartos {
  grid-area: cuartos;
}
.cuartos img {
  height: 400px;
}

.semifinal {
  grid-area: semifinal;
  margin-top: 5rem;
  height: 50%;
}

.final {
  grid-area: final;
  height: 75%;
}

.body-palmares {
  background-image: url(../img/messi-vs-psg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "barca        psg" "argentina individual";
  row-gap: 10px;
}

.tarjeta-barca {
  grid-area: barca;
  width: 100%;
  height: 2000px;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate-reverse both;
}

.tarjeta-psg {
  grid-area: psg;
  width: 100%;
  height: 2500px;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate-reverse both;
}

.tarjeta-argentina {
  grid-area: argentina;
  width: 80%;
  height: 800px;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate-reverse both;
}

.tarjeta-individual {
  grid-area: individual;
  width: 80%;
}

.link-mundial {
  text-decoration: none;
}

.card {
  margin: 5rem;
}

.img-psg {
  height: 80%;
}

.img-arg {
  height: 90%;
}

.img-ind {
  height: 45%;
}

.card {
  color: #1b1b1b;
  width: 80%;
  height: 254px;
  position: relative;
  outline: 6px solid #A69256;
  border-radius: 8px;
  line-height: 150%;
  padding: 16px;
  background: #A2D4F2;
  background-blend-mode: multiply;
  background: linear-gradient(to top, #A2D4F2, #055BA6);
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

.card-front {
  bottom: 16px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card-back {
  transform: translateX(120%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #1b1b1b;
}

.title::after {
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: #1b1b1b;
}

.card:hover {
  background-color: rgba(27, 27, 27, 0.1450980392);
}
.card:hover :hover .card-front {
  transform: translateX(-100%);
}
.card:hover :hover .card-front {
  transform: translateX(-100%);
}

.card:hover .card-front {
  transform: translateX(-100%);
}

.card:hover .card-back {
  transform: translateX(0);
}

.card-mundial {
  margin: auto;
  padding: 1rem;
  width: 80%;
  height: 254px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  overflow: auto;
  background: rgb(7, 252, 255);
  background: rgb(116, 98, 74);
  background: linear-gradient(0deg, rgb(116, 98, 74) 0%, rgb(166, 122, 68) 48%, rgb(5, 5, 5) 100%);
  opacity: 80%;
  font-size: large;
}
.card-mundial p {
  color: white;
}

.arabia img, .mexico img, .octavos img, .semifinal img, .final img {
  width: 100%;
  margin-top: 2rem;
}

.cuartos img {
  width: 100%;
  margin-top: 2rem;
  height: 90%;
}

::-webkit-scrollbar {
  display: none;
}

.body-trayectoria {
  background-color: black;
  background-image: url(../img/messi-campnou.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar {
  width: 100%;
}

.carrera-messi {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10rem;
  margin-top: 12rem;
}

.barcelona h2 {
  color: #ff0000;
  font-size: 25px;
  background-color: black;
  opacity: 70%;
  text-align: center;
  margin-top: 1rem;
}
.barcelona img {
  height: 20rem;
}

.psg h2 {
  color: red;
  font-size: 25px;
  background-color: black;
  opacity: 70%;
  text-align: center;
  margin-top: 1rem;
}
.psg img {
  height: 20rem;
  text-align: center;
}

.argentina h2 {
  color: red;
  font-size: 25px;
  background-color: black;
  opacity: 70%;
  text-align: center;
  margin-top: 1rem;
}
.argentina img {
  height: 20rem;
}

@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .tarjeta-barca {
    width: 80%;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .tarjeta-psg {
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
    margin-left: 5rem;
  }
  .tarjeta-argentina {
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
    margin-left: 5rem;
  }
  .tarjeta-individual {
    width: 80%;
    height: 5rem;
    margin: auto;
    margin-bottom: 3rem;
    margin-left: 5rem;
  }
  .body-palmares {
    background-color: black;
  }
}
@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .menu-tabla {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3.14rem;
    overflow: scroll;
    font-size: small;
  }
  .menu {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 576px) {
  .body-index {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-bottom: 3rem;
  }
  .body-index .p-inicio {
    height: 15rem;
  }
  .body-index .texto-inicio {
    text-align: center;
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .body-trayectoria {
    background: linear-gradient(82deg, #d9043d, #034c8c, #d9bc66);
    background-size: 600% 600%;
    animation: Animacion-gradiente 23s ease infinite;
  }
  @keyframes Animacion-gradiente {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }
  .carrera-messi {
    display: flex;
    flex-direction: column;
  }
  .barcelona {
    margin-bottom: 5rem;
  }
  .psg {
    margin-bottom: 5rem;
  }
}
@media (max-width: 576px) {
  .contenido-mundial {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 2000px;
  }
  .arabia, .mexico, .octavos, .cuartos, .semifinal, .final {
    margin: 1rem;
  }
}/*# sourceMappingURL=estilo.css.map */